*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(248, 248, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 10px 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > * {
    margin: 3px 0;
}

button {
    background-color: #fff;
    padding: 7px 20px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

button:active {
    transform: translateY(2px) scale(.98);
}